{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-9">
                
    {% if request.user.is_authenticated %}
    <br>
<h1>Your Cart</h1>
    <table class="table shadow" style="width: 100%;">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody >{% for cart in cart%}
            <tr>
                <td><img style="width:100px;height: 100px;"src="{{cart.product.img.url}}" alt=""><br>{{cart.product.name}}</td>
                <td>{{cart.quantity}}</td>
                <td>{{cart.product.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>{% else %}
    <div class="card mx-auto mt-5 shadow" style="width: 35rem;">
        <div class="card-body">
            <p class="display-4 alert alert-warning ">Login to View Cart</p>
            <a class="btn btn-success btn-lg" href="/login">Login</a>  

        </div>

      </div>
       {% endif %}
        </div>
        
        <div class="col-lg-3 mt-5">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <strong class="pr-5">Total Price</strong><span class="pl-5">Rs.{{300}}</span><br> 
                  <a href="{% url 'shipping-detail' %}" class="float-right shadow mt-4 btn btn-sm btn-success">Check Out</a>
                </div>
            </div>

        </div>
    </div>

    



</div>

<!-- a
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        {% for product in cart %}
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{product.img.url}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
          </tr>
        </tbody>
        {% endfor %}
        </table> -->
  



 





{% endblock %}