{% extends 'base.html' %}

{% block content %}


<div class="container mt-4">
    <h1 class="bg-dark mb-4 text-warning">Your Cart</h1>
  
    <div class="row"> 
        <div class="col-lg-9">
                
    {% if request.user.is_authenticated %}
   
   
     {% if cart %}
    
    <table class="table shadow" style="width: 100%;">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity </th>
                <th>Price </th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            
            {% for cart in cart %}
            <tr>
                <td><img style="width:50px;height: 60px;"src="{{cart.product.img.url}}" alt=""><br><small>{{cart.product.name}}</small></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'minus_quantity' cart.id  %}">-</a> {{cart.quantity}} <a class="btn btn-sm btn-success" href="{% url 'plus_quantity' cart.id %}">+</a></td>
                <td>₹ {{cart.product.price}} </td>
                <td><a class= "btn btn-danger" href="{% url 'delete_cart_product' cart.id %}">Remove <i class="bi bi-trash-fill"></i></a></td>
            </tr>
            {% endfor %}
            {% else %}
            <h1 class="display-4 alert alert-info  shadow">Cart is Empty, Please Add Product To Cart</h1>
            {% endif %}
        </tbody>
    </table>{% else %}
    <div class="card mx-auto mt-5 shadow" style="width: 35rem;">
        <div class="card-body">
            <p class="display-4 alert alert-warning ">Login to View Cart</p>
            <a class="btn btn-success btn-lg" href="/login">Login</a>  

        </div>

      </div>
       {% endif %}
        </div>
        {% if cart %}
        <div class="col-lg-3">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <strong class="pr-3">Total Amount</strong><span class="pl-5">
                       
                    </span>₹ {{total_amount}}<br> 
                  <a href="{% url 'order_summary' %}" class="float-right shadow mt-4 btn btn-sm btn-success">Place Order</a>
                </div>
            </div>

        </div>{% endif %}
    </div>

    



</div>



 





{% endblock %}