{% extends 'base.html' %}

{% block content %}


<div class="container mt-3">
    <h5 class="display-4">Your Orders</h5>
    <div class="row">
        <div class="col-lg-12">

            {% if order_placed %}
                
            <div class="card mx-auto mt-5 shadow">
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th scope="col">S No.</th>
                            <th scope="col">Product</th>
                            
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for op in order_placed %}
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td> <img src="{{op.product.img.url}}" style="height: 80px;width:60px"><br><strong>{{op.product.name}}</strong><p>{{op.product.desc}}</p> 
                            </td>
                            <td>{{op.product.price}}</td>

                            <td>{{op.quantity}}</td>
                            <td>{{op.status}}</td>
                            <td>{% if op.status == 'Cancel' %}
                                <small>Order Cancelled</small>
                                {% else %} <a href="{% url 'cancel' op.id %}" class="btn btn-warning btn-sm">Cancel Order</a>{% endif %}</td>
                            </tr>  {% endfor %}
                          
                        </tbody>
                      </table>
                </div>
                    
                        {% else %}
                        <p class="alert alert-danger">Order not Placed Yet  !</p>
                          {% endif %}

                      
                      
                      
        </div>
    </div>

               
        </div>
  




{% endblock %}