{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container my-5">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow"  style="width: 22rem;">
                <div class="card-body">
                  <h5 class="card-title">Available Address</h5>
                  <hr>
                    {% if address %}
                    {% for add in address %}
                    <strong class="text-muted">{{add.fname|title}} {{add.lname|title}}</strong>
                    <p>{{add.locality|title}}, {{add.city|title}}, landmark - {{add.landmark|title}}, {{add.state|title}}, {{add.pincode|title}} 
                      <br>
                      Contact - {{add.contact}}
                    </p>
                    <a class="btn btn-danger btn-sm shadow" href="{% url 'delete' add.id%}">Delete</a>
                    <hr>
                    
                    {% endfor %}
                    {% else %} <small class="font-weight-bold ">No Address Available</small>
                    {% endif %}


                
                </div>
              </div>
        </div>
        <div class="col-lg-8 mx-auto">
            <div class="card shadow pt-3 px-5 mb-5" style="width: 40rem;">
                <p class="display-4 mb-5">Shipping Detail</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-md btn-success float-right mb-2">Next</button><br>


                </form>

                
               
            
             </div>
        </div>
    </div>
    

</div>

{% else %}
<h1>Please login</h1>
{% endif %}




{% endblock %}