{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-lg mx-auto ">
            <div class="card mx-auto shadow px-4" style="width: 45rem;">
                <p class="display-4 text-success">Your payment is successfull...</p>
                <img class="mx-auto" src="https://c.tenor.com/BntXpMlrGuEAAAAM/check-correct.gif" style="width:160px;height:150px" alt="">
                <div class="mx-auto my-4">
                    <a class="btn btn-md btn-danger  shadow" href="{% url 'orders' %}">View Orders</a>
    
                </div>
            </div>
            

        </div>
    </div>
</div>







{% endblock %}